################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Designing-Data-Structures/v17/.wsuo
/.vs/Designing-Data-Structures/v17/DocumentLayout.json
/232.05.Lab.100/.vs/LabList/FileContentIndex/355df671-9998-4a55-972f-3dd550580b12.vsidx
/232.05.Lab.100/.vs/LabList/FileContentIndex/d94fb663-7604-4100-8756-b509f5fb8912.vsidx
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.db
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.db-shm
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.db-wal
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.opendb
/232.05.Lab.100/.vs/LabList/v17/ipch/AutoPCH/6be93323a8fed43a/TESTLIST.ipch
/232.05.Lab.100/.vs/LabList/v17/ipch/AutoPCH/8fee715634697709/DELETE_SCALAR.ipch
/232.05.Lab.100/.vs/LabList/FileContentIndex/79e1ca96-1277-445f-8ecb-4577ac3b6e6b.vsidx
/232.05.Lab.100/.vs/LabList/FileContentIndex/df5e5aa7-f9ec-4c2a-bb84-a0d9d151eaa6.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.db
/.vs/Designing-Data-Structures/FileContentIndex/e9ec9b51-b2d5-4e37-938e-223651fd14d1.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.db-shm
/.vs/Designing-Data-Structures/FileContentIndex/020e223e-f472-4d45-aebb-c62fdf10af89.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/2ed01568-00ac-4c95-81dc-38b09cdc2e6e.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.db-wal
/.vs/Designing-Data-Structures/FileContentIndex/19f24e55-18f7-4835-93f2-89d02d1c3c3f.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.opendb
/.vs/Designing-Data-Structures/FileContentIndex/3f9968e9-a96c-4803-acb7-948948be9e2f.vsidx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Designing-Data-Structures/FileContentIndex/9002c403-10eb-4059-8a1a-384781d12121.vsidx
