################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Designing-Data-Structures/v17/.wsuo
/.vs/Designing-Data-Structures/v17/DocumentLayout.json
/232.05.Lab.100/.vs/LabList/FileContentIndex/355df671-9998-4a55-972f-3dd550580b12.vsidx
/232.05.Lab.100/.vs/LabList/FileContentIndex/d94fb663-7604-4100-8756-b509f5fb8912.vsidx
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.db
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.db-shm
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.db-wal
/232.05.Lab.100/.vs/LabList/v17/Browse.VC.opendb
/232.05.Lab.100/.vs/LabList/v17/ipch/AutoPCH/6be93323a8fed43a/TESTLIST.ipch
/232.05.Lab.100/.vs/LabList/v17/ipch/AutoPCH/8fee715634697709/DELETE_SCALAR.ipch
/232.05.Lab.100/.vs/LabList/FileContentIndex/79e1ca96-1277-445f-8ecb-4577ac3b6e6b.vsidx
/232.05.Lab.100/.vs/LabList/FileContentIndex/df5e5aa7-f9ec-4c2a-bb84-a0d9d151eaa6.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.db
/.vs/Designing-Data-Structures/FileContentIndex/e9ec9b51-b2d5-4e37-938e-223651fd14d1.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.db-shm
/.vs/Designing-Data-Structures/FileContentIndex/020e223e-f472-4d45-aebb-c62fdf10af89.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/2ed01568-00ac-4c95-81dc-38b09cdc2e6e.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.db-wal
/.vs/Designing-Data-Structures/FileContentIndex/19f24e55-18f7-4835-93f2-89d02d1c3c3f.vsidx
/.vs/Designing-Data-Structures/v17/Browse.VC.opendb
/.vs/Designing-Data-Structures/FileContentIndex/3f9968e9-a96c-4803-acb7-948948be9e2f.vsidx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Designing-Data-Structures/FileContentIndex/9002c403-10eb-4059-8a1a-384781d12121.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/05fa2f24-8fa8-416b-8c8d-46eac12aad4f.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/806f3158-d5b8-4d08-9bad-2a1be41c43a0.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/fbbe6d0d-d090-4e27-9033-f17beedd8ca9.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/4d39ed42-db2a-4838-90ba-a90ec3e9d487.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/3488657c-6303-4c3e-a03e-6aab3a393b9a.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/8905538f-229e-4960-b02f-bd3f7423db6d.vsidx
/.vs/Designing-Data-Structures/FileContentIndex/ccec7e82-3071-4d47-94df-60d9c59a961c.vsidx
/232.07.Lab.100/.vs/LabBST/FileContentIndex/c44e412e-6b45-4a00-a80e-8234d97226a6.vsidx
/.vs/Designing-Data-Structures/v17/ipch/AutoPCH/4e8e244f921b4a02/BST.ipch
/232.07.Lab.100/.vs/LabBST/FileContentIndex/529340c5-e472-4bc7-ae9b-cd0d4f0372a5.vsidx
/232.07.Lab.100/.vs/LabBST/v17/Browse.VC.db
*.db-shm
*.db-wal
/232.07.Lab.100/.vs/LabBST/v17/Browse.VC.opendb
